services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    working_dir: /app
    environment:
      - NODE_ENV=production
    ports:
      - '80:80'
    image: gasthaus
    restart: always
