<main
  class="flex min-h-screen w-screen flex-col items-center justify-center bg-[url('/assets/images/background/3.jpg')] bg-cover bg-fixed bg-center text-white">
  <!-- Title section -->
  <div class="flex items-center justify-center tracking-tight md:tracking-normal">
    <h1 class="sticky top-0 text-5xl font-bold text-white drop-shadow-md sm:text-6xl md:text-9xl">Reservieren</h1>
  </div>
  <section
    class="my-6 flex w-full max-w-3xl flex-col gap-4 bg-black/80 p-6 backdrop-blur-xs md:w-3/4 md:backdrop-blur-sm lg:w-2/3">
    <!-- Info section -->
    <div class="flex flex-col">
      <p>Sie finden uns in</p>
      <p class="text-xl font-bold">Ostheimer Weg 5, 64832 Babenhausen</p>
    </div>
    <section class="flex flex-col text-lg">
      <h6 class="text-2xl font-semibold">Öffnungszeiten</h6>
      <p>
        Montag bis Freitag von
        <span class="font-bold">10:00 bis 22:00</span> Uhr.
      </p>
      <p>
        Sonntag und Feiertag von
        <span class="font-bold">16:00 bis 24:00</span> Uhr.
      </p>
    </section>
    <!-- Kontakt section -->
    <section class="flex flex-col">
      <h6 class="text-2xl font-semibold">Kontakt</h6>
      <p>Wir freuen uns, Sie bei uns zu sehen.</p>
      <p>Bitte senden Sie uns Ihre Anfrage per E-Mail oder Telefon.</p>

      <p>
        E-Mail:
        <a href="mailto:info@gasthaus.de" class="text-lg font-bold">info&#64;gasthaus.de</a>
      </p>
      <p>
        Telefon:
        <span class="text-lg font-bold">+49 (0) 176 25 55 55 55</span>
      </p>
    </section>
  </section>
</main>
