<main
  class="text-white flex flex-col justify-center items-center min-h-screen bg-[url('/assets/images/background/3.jpg')] bg-cover bg-center bg-fixed w-screen"
>
  <!-- Title section -->
  <div
    class="flex items-center justify-center tracking-tight md:tracking-normal"
  >
    <h1
      class="md:text-9xl text-5xl sm:text-6xl font-bold text-white sticky top-0 drop-shadow-md"
    >
      Reservieren
    </h1>
  </div>
  <section
    class="max-w-3xl my-6 flex flex-col gap-4 p-6 w-full md:w-3/4 lg:w-2/3 bg-black/80 backdrop-blur-xs md:backdrop-blur-sm"
  >
    <!-- Info section -->
    <div class="flex flex-col">
      <p>Sie finden uns in</p>
      <p class="font-bold text-xl">Ostheimer Weg 5, 64832 Babenhausen</p>
    </div>
    <section class="flex flex-col text-lg">
      <h6 class="font-semibold text-2xl">Öffnungszeiten</h6>
      <p>
        Montag bis Freitag von
        <span class="font-bold">10:00 bis 22:00</span> Uhr.
      </p>
      <p>
        Sonntag und Feiertag von
        <span class="font-bold">16:00 bis 24:00</span> Uhr.
      </p>
    </section>
    <!-- Kontakt section -->
    <section class="flex flex-col">
      <h6 class="font-semibold text-2xl">Kontakt</h6>
      <p>Wir freuen uns, Sie bei uns zu sehen.</p>
      <p>Bitte senden Sie uns Ihre Anfrage per E-Mail oder Telefon.</p>

      <p>
        E-Mail:
        <a href="mailto:info@gasthaus.de" class="font-bold text-lg"
          >info&#64;gasthaus.de</a
        >
      </p>
      <p>
        Telefon:
        <span class="font-bold text-lg">+49 (0) 176 25 55 55 55</span>
      </p>
    </section>
  </section>
</main>
