<form [formGroup]="form" (ngSubmit)="onSubmit()" class="my-8 flex flex-col space-y-2 rounded-sm bg-neutral-100 p-4">
  <label class="flex flex-col">
    <span class="text-lg font-bold tracking-tight uppercase">Name</span>
    <input
      formControlName="name"
      type="text"
      placeholder="Käsespätzle"
      class="cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-100 p-2 transition duration-200 ease-in-out hover:scale-110 hover:border-neutral-500 hover:bg-neutral-200 active:scale-90 active:duration-100" />
  </label>

  <label class="flex flex-col">
    <span class="text-lg font-bold tracking-tight uppercase">Description</span>
    <textarea
      formControlName="description"
      placeholder="Description"
      class="cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-100 p-2 transition duration-200 ease-in-out hover:scale-110 hover:border-neutral-500 hover:bg-neutral-200 active:scale-90 active:duration-100"></textarea>
  </label>

  <label class="flex flex-col">
    <span class="text-lg font-bold tracking-tight uppercase">Price (€)</span>
    <input
      formControlName="price"
      type="number"
      step="0.01"
      placeholder="19.99"
      class="cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-100 p-2 transition duration-200 ease-in-out hover:scale-110 hover:border-neutral-500 hover:bg-neutral-200 active:scale-90 active:duration-100" />
  </label>

  <label class="flex flex-col">
    <span class="text-lg font-bold tracking-tight uppercase">Categories (comma-separated)</span>
    <input
      type="text"
      (input)="onCategoriesInput($event)"
      placeholder="Getränke, Hauptgänge, ..."
      class="cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-100 p-2 transition duration-200 ease-in-out hover:scale-110 hover:border-neutral-500 hover:bg-neutral-200 active:scale-90 active:duration-100" />
  </label>

  <label class="flex flex-col">
    <span class="text-lg font-bold tracking-tight uppercase">Ingredients (comma-separated)</span>
    <input
      type="text"
      (input)="onIngredientsInput($event)"
      placeholder="Milch, Butter, Honig, ..."
      class="cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-100 p-2 transition duration-200 ease-in-out hover:scale-110 hover:border-neutral-500 hover:bg-neutral-200 active:scale-90 active:duration-100" />
  </label>

  <label class="flex flex-col">
    <span class="text-lg font-bold tracking-tight uppercase">Tags (comma-separated)</span>
    <input
      type="text"
      (input)="onTagsInput($event)"
      placeholder="Scharf, Lactose, ..."
      class="cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-100 p-2 transition duration-200 ease-in-out hover:scale-110 hover:border-neutral-500 hover:bg-neutral-200 active:scale-90 active:duration-100" />
  </label>

  <label class="flex flex-row items-center gap-x-4">
    <span class="text-lg font-bold tracking-tight uppercase">Seasonal</span>
    <input
      type="checkbox"
      formControlName="seasonal"
      class="cursor-pointer rounded-sm bg-neutral-100 transition duration-200 ease-in-out hover:scale-110 hover:bg-neutral-200 active:scale-90 active:duration-100" />
  </label>

  <label class="flex flex-col">
    <span class="text-lg font-bold tracking-tight uppercase">Picture</span>
    <input
      type="file"
      (change)="onFileChange($event)"
      accept="image/*"
      class="cursor-pointer rounded-sm border-2 border-neutral-300 bg-neutral-100 p-2 transition duration-200 ease-in-out hover:scale-110 hover:border-neutral-500 hover:bg-neutral-200 active:scale-90 active:duration-100" />
  </label>

  @if (successMsg()) {
    <p class="text-green-600">{{ successMsg() }}</p>
  }
  @if (errorMsg()) {
    <p class="text-red-600">{{ errorMsg() }}</p>
  }

  <button
    type="submit"
    [disabled]="form.invalid"
    class="cursor-pointer rounded-sm bg-sky-400 p-2 text-lg font-extrabold tracking-widest text-white uppercase shadow-md transition duration-200 ease-in-out hover:scale-110 hover:bg-sky-500 active:scale-90 active:duration-100">
    Add Item
  </button>
</form>
