<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  enctype="multipart/form-data"
  class="space-y-4 flex flex-col"
>
  <input
    formControlName="name"
    type="text"
    placeholder="Name"
    required
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out cursor-pointer"
  />
  <textarea
    formControlName="description"
    placeholder="Description"
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out"
  ></textarea>
  <label
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out"
  >
    Price
    <input
      formControlName="price"
      type="number"
      step="0.01"
      placeholder="Price"
    />
  </label>

  <input
    type="text"
    (input)="onCategoriesInput($event)"
    placeholder="Enter categories comma-separated"
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out"
  />

  <input
    type="text"
    (input)="onTagsInput($event)"
    placeholder="Enter tags comma-separated"
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out"
  />

  <label
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out cursor-pointer"
  >
    <input type="checkbox" formControlName="seasonal" />
    Seasonal
  </label>

  <input
    type="file"
    (change)="onFileChange($event)"
    accept="image/*"
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out cursor-pointer"
  />

  <button
    type="submit"
    [disabled]="form.invalid"
    class="border-2 border-black rounded-md p-2 hover:bg-black/20 transition duration-200 ease-in-out cursor-pointer"
  >
    Add Item
  </button>
</form>
