<main
  class="text-white flex flex-col justify-center items-center min-h-screen bg-[url('/assets/images/speisekarte/2.jpg')] bg-cover bg-center bg-fixed w-screen"
>
  <!-- Title section -->
  <section
    class="flex flex-col items-center justify-center tracking-tight md:tracking-normal"
  >
    <h1 class="md:text-9xl text-6xl font-bold">Waldruhe</h1>
    <h2 class="md:text-4xl text-3xl font-bold">Gasthaus</h2>
    <h2 class="md:text-2xl text-lg font-semibold">
      Ostheimer Weg 5, 64832 Babenhausen
    </h2>
  </section>
  <!-- Description section -->
  <section
    class="max-w-3xl w-3/4 flex flex-col items-center justify-center lg:w-1/2 tracking-tight md:tracking-normal md:leading-5 leading-none md:text-xl mt-4 bg-black/20 p-4 backdrop-blur hover:backdrop-blur-lg transition duration-200 ease-in-out shadow-md"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
    Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
    sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
    semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie,
    enim est eleifend mi, non fermentum diam nisl sit amet erat.
  </section>
  <!-- Links section -->
  <section
    class="max-w-3xl flex flex-col md:flex-row w-1/2 md:w-3/4 lg:w-2/5 md:justify-between md:gap-0 items-center justify-center mt-10 gap-2 tracking-widest"
  >
    <a
      href="#speisekarte"
      class="hover:scale-150 text-2xl md:text-4xl relative hover:z-10 border border-transparent active:duration-100 hover:border-white/10 hover:shadow-lg shadow-md backdrop-blur hover:backdrop-blur-lg px-4 py-2 font-semibold transition duration-200 ease-in-out active:scale-90 cursor-pointer"
      >Speisekarte</a
    >
    <a
      href="#kontakt"
      class="hover:scale-150 text-2xl md:text-4xl relative hover:z-10 border border-transparent active:duration-100 hover:border-white/10 hover:shadow-lg shadow-md backdrop-blur hover:backdrop-blur-lg px-4 py-2 font-semibold transition duration-200 ease-in-out active:scale-90 cursor-pointer"
      >Reservieren</a
    >
  </section>
</main>
