<main
  class="flex min-h-screen w-screen flex-col items-center justify-center bg-[url('/assets/images/background/1.jpg')] bg-cover bg-fixed bg-center text-white">
  <div
    class="flex w-full max-w-3xl flex-col items-center justify-center bg-black/80 py-10 backdrop-blur-xs md:backdrop-blur-sm lg:w-2/3">
    <!-- Title section -->
    <section class="flex flex-col items-center justify-center tracking-tight md:tracking-normal">
      <h1 class="text-5xl font-bold drop-shadow-md sm:text-6xl md:text-9xl">Waldruhe</h1>
      <h2 class="text-3xl font-bold md:text-4xl">Gasthaus</h2>
      <h2 class="text-lg font-semibold md:text-2xl">Ostheimer Weg 5, 64832 Babenhausen</h2>
    </section>
    <!-- Description section -->
    <section
      class="mt-4 flex w-full flex-col items-center justify-center p-4 leading-none tracking-tight md:w-3/4 md:text-xl md:leading-5 md:tracking-normal lg:w-2/3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit
      amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper
      congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl
      sit amet erat.
    </section>
    <!-- Links section -->
    <section
      class="mt-10 flex w-4/5 flex-col items-center justify-center gap-2 tracking-widest md:flex-row md:justify-between md:gap-0 xl:w-2/3">
      <a
        href="#speisekarte"
        class="relative cursor-pointer border-b-4 border-white bg-black/80 px-4 py-2 text-2xl font-semibold shadow-md transition duration-200 ease-in-out hover:z-10 hover:scale-125 hover:border-white hover:bg-black hover:shadow-lg active:scale-100 active:bg-black active:duration-100 md:text-4xl lg:border-black"
        >Speisekarte</a
      >
      <a
        href="#kontakt"
        class="relative cursor-pointer border-b-4 border-white bg-black/80 px-4 py-2 text-2xl font-semibold shadow-md transition duration-200 ease-in-out hover:z-10 hover:scale-125 hover:border-white hover:bg-black hover:shadow-lg active:scale-100 active:bg-black active:duration-100 md:text-4xl lg:border-black"
        >Reservieren</a
      >
    </section>
  </div>
</main>
