<section
  class="flex min-h-screen w-screen flex-col items-center justify-start bg-[url('/assets/images/background/2.jpg')] bg-cover bg-fixed bg-center">
  <!-- Title section -->
  <div class="mt-20 mb-10 flex flex-col items-center tracking-tight md:tracking-normal lg:mt-60 lg:items-center">
    <h1 class="sticky top-0 text-5xl font-bold text-white drop-shadow-md sm:text-6xl md:text-9xl">Speisekarte</h1>
    <span class="h-0.5 w-48 bg-white"></span>
  </div>

  <!-- Category Buttons -->
  <ul class="flex flex-wrap justify-center gap-2 pt-6 md:gap-4">
    <li>
      <button
        type="button"
        [disabled]="category() === null"
        [class.pointer-events-none]="category() === null"
        [class.opacity-65]="category() === null"
        class="btn-primary"
        (click)="setCategory(null)">
        Alle Kategorien
      </button>
    </li>
    @for (cat of categories(); track cat) {
      <li>
        <button
          type="button"
          [disabled]="category() === cat"
          [class.pointer-events-none]="category() === cat"
          [class.opacity-65]="category() === cat"
          class="btn-primary"
          (click)="setCategory(cat)">
          {{ cat }}
        </button>
      </li>
    }
  </ul>

  <!-- Items List -->
  <ul class="my-10 flex min-h-87.5 max-w-6xl flex-wrap justify-center gap-4">
    @for (item of items(); track item.id) {
      <app-item [item]="item" class="mx-2 h-40 w-full md:w-87.5" (openDescription)="openDescription($event)">
      </app-item>
    }
  </ul>
</section>
<app-item-description [item]="selectedItem()" (close)="closeDescription()"></app-item-description>
