<main
  class="flex flex-col justify-start items-center min-h-screen bg-[url('/assets/images/speisekarte/1.jpg')] bg-cover bg-center bg-fixed"
>
  <!-- Title section -->
  <div class="flex items-center h-[300px]">
    <h1 class="text-9xl font-bold text-white sticky top-0">Speisekarte</h1>
  </div>

  <!-- Category Buttons -->
  <ul class="flex flex-wrap gap-4 justify-center py-6">
    @for (cat of categories; track cat) {
    <button
      type="button"
      [disabled]="category() === cat"
      [class.pointer-events-none]="category() === cat"
      [class.opacity-65]="category() === cat"
      class="hover:scale-150 relative hover:z-10 border border-transparent active:duration-100 hover:border-white/10 hover:shadow-lg shadow-md backdrop-blur hover:backdrop-blur-lg px-4 py-2 font-semibold transition duration-200 ease-in-out active:scale-90 cursor-pointer"
      (click)="setCategory(cat)"
    >
      {{ cat }}
    </button>
    }
  </ul>

  <!-- Items List -->
  @if (category()) {
  <ul class="flex flex-wrap gap-4 justify-center min-h-[350px] w-2/3 my-10">
    @for (item of items(); track item.id) {
    <item [item]="item" class="w-[350px] h-[160px]"></item>
    }
  </ul>
  }
</main>
