<!-- Image section -->
<section class="flex h-full w-full">
  <app-item-image [image]="item().image" [name]="item().name"></app-item-image>
</section>

<!-- Top overlay -->
<section
  class="absolute top-2 right-2 left-2 z-10 flex items-center justify-between gap-2 rounded-xl bg-black/90 p-2 backdrop-blur-sm">
  <h3 class="font-semibold md:text-lg">{{ item().name }}</h3>
  <span class="text-sm font-bold md:text-base">{{
    item().priceCents / 100 | currency: 'EUR' : 'symbol' : '1.2-2' : 'de'
  }}</span>
</section>
